<launch>
    <arg name="fps" default="30.0"/>
    <arg name="device" default="/dev/mapir"/>
    <arg name="camera_name" default="mapir_rgn"/>
    <arg name="camera_info_yaml" default="$(find-pkg-share vehicle_launch)/config/$(var camera_name)_info.yaml"/>
    <arg name="image_width" default="1280"/>
    <arg name="image_height" default="720"/>

    <group>
        <push-ros-namespace namespace="$(var camera_name)"/>

        <node pkg="simple_opencv" exec="minimal_opencv_ros2_node" output="log">
            <param name="fps" value="$(var fps)"/>
            <param name="device" value="$(var device)"/>
            <param name="camera_name" value="$(var camera_name)"/>
            <param name="camera_info_path" value="$(var camera_info_yaml)"/>
            <param name="image_width" value="$(var image_width)"/>
            <param name="image_height" value="$(var image_height)"/>
        </node>
    </group>

    
</launch>