<launch>
    <!-- <arg name="device_id" default="0"/> -->
    <arg name="video_device" default="/dev/mapir"/>
    <arg name="camera_name" default="mapir_rgn"/>
    <arg name="camera_info_yaml" default="$(find-pkg-share vehicle_launch)/config/$(var camera_name)_info.yaml"/>
    <arg name="image_width" default="640"/>
    <arg name="image_height" default="480"/>
    <arg name="framerate" default="30.0"/>
    <arg name="av_device_format" default="RGB24"/>

    <group>
        <push-ros-namespace namespace="$(var camera_name)"/>

        <node pkg="image_proc" exec="image_proc">
            <remap from="image" to="image_raw"/>
        </node>

        <node pkg="usb_cam" exec="usb_cam_node_exe">
            <param name="framerate" value="$(var framerate)"/>
            <param name="video_device" value="$(var video_device)"/>
            <param name="camera_name" value="$(var camera_name)"/>
            <param name="frame_id" value="$(var camera_name)"/>
            <param name="camera_info_url" value="file://$(var camera_info_yaml)"/>
            <param name="pixel_format" value="raw_mjpeg"/>
            <param name="image_width" value="$(var image_width)"/>
            <param name="image_height" value="$(var image_height)"/>
            <param name="av_device_format" value="$(var av_device_format)"/>
        </node>
    </group>

    
</launch>