<launch>
    <!-- Which SLAM
        0: FAST LIO (original 'slam' repo)
        1: FAST LIO LC
        2: FASTER LIO

        Defaults to 'fast lio'
    -->
    <arg name="xfer_format" default="1"/>

    <include file="$(find-pkg-share livox_ros_driver2)/launch_ROS2/msg_MID360_launch.py">
        <arg name="xfer_format" value="$(var xfer_format)"/>
    </include>
</launch>