<launch>
    <arg name="rviz" default="false"/>
    <arg name="rotate" default="false"/>
    <include file="$(find-pkg-share seek_thermal)/launch/seek.launch">
        <arg name="use_rviz" value="$(var rviz)"/>
        <arg name="rotate" value="$(var rotate)"/>
    </include>

    <include file="$(find-pkg-share image_proc)/launch/image_proc.launch.py">
        <arg name="namespace" value="seek_thermal"/>
    </include>
</launch>