#Default topics
/attollo_cam/image_raw
/attollo_cam/camera_info
/cloud_registered
/costmap_node/costmap/costmap
/explore/frontier_goal_marker
/explore/frontiers
/heatmap_json
/kd_pointcloud_accumulated
/livox/lidar
/livox/imu
/mapir_rgn/image_raw
/mapir_rgn/image_rect
/mapir_rgn/camera_info
/map_region
/mapversation/emergency
/mapversation/health_report
/mapversation/target_polygon
/mapversation/target_setpoint
/mavros/battery
/mavros/global_position/global
/mavros/global_position/rel_alt
/mavros/home_position/home
/mavros/imu/data
/mavros/local_position/pose
/mavros/obstacle/send
/mavros/setpoint_position/local
/mavros/state
/octomap_slice
/search_node/trajectory_position
/segmented_images
/task_status
/tf
/tf_static
/tree_json
/tree_markers
/velodyne_points