#Default topics
/attollo_cam/image_raw
/attollo_cam/camera_info
/cloud_registered_map
/costmap_node/costmap/costmap
/decco/battery
/decco/pose
/explore/frontier_goal_marker
/explore/frontiers
/goal
/goal_raw
/kd_pointcloud_accumulated
/lawnmower
/livox/lidar
/livox/imu
/mapir_rgb/image_raw
/mapir_rgb/camera_info
/mapir_rgn/image_raw
/mapir_rgn/camera_info
/map_region
/map_yaw
/mapversation/burn_unit_send
/mapversation/burn_unit_receive
/mapversation/emergency
/mapversation/health_report
/mavros/battery
/mavros/global_position/global
/mavros/global_position/rel_alt
/mavros/imu/data
/mavros/local_position/pose
/mavros/obstacle/send
/mavros/setpoint_position/local
/mavros/state
/mavros/vision_pose/pose
/search_node/trajectory_position
/seek_thermal/camera_info
/seek_thermal/image_raw
/task_status
/thermal_cam/camera_info
/thermal_cam/image_raw
/tf
/tf_static