#Default topics
/attollo_cam/image_raw
/attollo_cam/image_rect
/attollo_cam/camera_info
/cloud_registered
/costmap_node/costmap/costmap
/decco/battery
/decco/pose
/explore/frontier_goal_marker
/explore/frontiers
/heatmap_json
/livox/lidar
/livox/imu
/mapir_rgb/image_raw
/mapir_rgb/image_rect_color
/mapir_rgb/camera_info
/mapir_rgn/image_raw
/mapir_rgn/image_rect_color
/mapir_rgn/camera_info
/map_region
/map_yaw
/mapversation/burn_unit_send
/mapversation/burn_unit_receive
/mapversation/emergency
/mapversation/health_report
/mapversation/target_polygon
/mapversation/target_setpoint
/mavros/battery
/mavros/global_position/global
/mavros/global_position/rel_alt
/mavros/home_position/home
/mavros/imu/data
/mavros/local_position/pose
/mavros/obstacle/send
/mavros/setpoint_position/local
/mavros/state
/mavros/vision_pose/pose
/search_node/trajectory_position
/seek_thermal/camera_info
/seek_thermal/image_raw
/segmented_images
/task_status
/thermal_cam/camera_info
/thermal_cam/image_rect_color
/tf
/tf_static
/velodyne_points