#Default topics
/cloud_clusters
/cloud_ground
/cloud_aggregated
/cloud_registered_map
/decco/battery
/decco/pose
/explore/frontier_goal_marker
/explore/frontiers
/explorable_goal
/goal
/goal_raw
/lawnmower
/livox/lidar
/livox/imu
/mapir_rgn/image_raw
/mapir_rgn/camera_info
/map_region
/map_yaw
/mavros/battery
/mavros/global_position/global
/mavros/global_position/rel_alt
/mavros/imu/data
/mavros/local_position/pose
/mavros/setpoint_position/local
/mavros/state
/mavros/vision_pose/pose
/occ_density_grid
/occ_image
/search_node/trajectory_position
/task_status
/tf
/tf_static
/trail_ends
/trail_line