<launch>
    <arg name="cloud_topic" default="/velodyne_points"/>
    <arg name="reg_cloud_topic" default="/cloud_registered"/>
    <arg name="octomap_res" default="0.2"/> <!-- meter -->
    <arg name="rviz" default="false"/>

    <include file="$(find vehicle_launch)/launch/oa_dynobs.launch">
        <arg name="raw_cloud_topic" value="$(arg cloud_topic)"/>
        <arg name="reg_cloud_topic" value="$(arg reg_cloud_topic)"/>
    </include>

    <include file="$(find octomap_slice)/launch/octomap_full_handling.launch">
        <arg name="cloud_topic" value="$(arg reg_cloud_topic)"/>
        <arg name="octomap_res" value="$(arg octomap_res)"/>
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <include file="$(find vehicle_launch)/launch/viz_host_machine.launch"/>
</launch>