<launch>
    <arg name="rviz" default="false"/>
    <arg name="map_resolution" default="1.0"/> <!-- meter -->

    <!-- Publishes the voxel grid to rviz for display -->
    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer" if="$(arg rviz)">
        <remap from="voxel_grid" to="costmap/voxel_grid"/>
    </node>

    <!-- Run the costmap node -->
    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
        <rosparam file="$(find vehicle_launch)/config/alt_costmap.yaml" command="load" ns="costmap" />
        <remap from="base_scan" to="cloud_registered"/>
        <rosparam param="resolution" ns="costmap" subst_value="True">$(arg map_resolution)</rosparam>
    </node>

</launch>