<launch>



                            <!-- Arguments/configuration -->

    <!-- Basic frame/topic names -->
    <arg name="mavros_map_frame" default="map"/>
    <arg name="mavros_base_frame" default="base_link"/>
    <arg name="slam_base_frame" default="livox_frame"/>
    <arg name="slam_map_frame" default="slam_map"/>
    <arg name="slam_pose_topic" default="/decco/pose"/>  
    <arg name="gnss_topic" default="/mavros/global_position/global"/>
    <arg name="use_gps" default="0"/>


    <!-- Offline, i.e. using bag playback -->
    <arg name="offline" default="false"/>
    <arg name="save_pcd" default="false"/>

    <!-- Simulation args -->
    <arg name="simulate" default="false"/>
    <arg name="vehicle_name" default="MyVehicle"/> <!-- The vehicle name from ardupilot_settings.json -->
    <arg name="enable_cameras" default="false"/>

    <!-- Safe guards -->
    <arg name="enable_autonomy" default="$(arg simulate)" unless="$(arg offline)"/>
    <arg name="enable_autonomy" default="false" if="$(arg offline)"/>
    <arg name="use_failsafes" default="false"/> <!-- Set to TRUE once failsafes are working better-->

    <!-- Which SLAM
        0: FAST LIO (original 'slam' repo)
        1: FAST LIO LC
        2: FASTER LIO

        Defaults to 'fast lio'
    -->
    <arg name="slam_type" default="1"/>

    <!-- Which lidar
        0: Mid40
        1: Horizon
        2: Velodyne
        3: Oust64
        4: Mid360

        Defaults to 'velodyne' in sim and 'mid360' otherwise
    -->
    <arg name="lidar_type" default="2" if="$(arg simulate)"/>
    <arg name="lidar_type" default="4" unless="$(arg simulate)"/>
    <arg name="tilted_lidar" default="false"/>

    <!-- Lidar positioning relative to base_link -->
    <arg name="lidar_pitch" default="0.0" unless="$(arg tilted_lidar)"/>
    <arg name="lidar_x" default="0.0" unless="$(arg tilted_lidar)"/>
    <arg name="lidar_z" default="0.11" unless="$(arg tilted_lidar)"/>
    <arg name="lidar_pitch" default="0.3926991" if="$(arg tilted_lidar)"/>
    <arg name="lidar_x" default="0.038" if="$(arg tilted_lidar)"/>
    <arg name="lidar_z" default="0.128" if="$(arg tilted_lidar)"/>
    <arg name="lidar_pitch_rotated" value="-$(arg lidar_pitch)"/>
    <arg name="lidar_x_rotated" value="$(eval -arg('lidar_x') * cos(arg('lidar_pitch_rotated')) - arg('lidar_z') * sin(arg('lidar_pitch_rotated')))"/> 
    <arg name="lidar_z_rotated" value="$(eval arg('lidar_x') * sin(arg('lidar_pitch_rotated')) - arg('lidar_z') * cos(arg('lidar_pitch_rotated')))"/> 
    <node name="lidar_static_tf" pkg="tf" type="static_transform_publisher"
        args="$(arg lidar_x_rotated) 0 $(arg lidar_z_rotated) 0 $(arg lidar_pitch_rotated) 0 $(arg slam_base_frame) base_link 100"/>

    <!-- Which thermal
        0: Infiray (Gus)
        1: Seek (Erin)

        Defaults to '0: Infiray'
    -->
    <arg name="thermal_type" default="0"/>

    <!-- Which nodes -->
    <arg name="do_slam" default="true"/>
    <arg name="do_costmap" default="$(arg do_slam)"/>
    <arg name="do_exploration" default="$(arg do_slam)"/>
    <arg name="do_species_map" default="false"/> <!-- Only enable when required e.g. for ASH -->
    <arg name="do_record" default="true" unless="$(eval simulate + offline)"/>
    <arg name="do_record" default="false" if="$(eval simulate + offline)"/>
    <arg name="do_rtsp" default="false" if="$(arg do_slam)"/>
    <arg name="do_rtsp" default="true" unless="$(arg do_slam)"/>

    <!-- Which hardware -->
    <arg name="do_mid360" default="$(eval lidar_type == 4)"/>
    <arg name="do_velodyne" default="$(eval lidar_type == 2)"/>
    <arg name="do_mapir" default="true" unless="$(arg simulate)"/>
    <arg name="do_mapir" default="false" if="$(arg simulate)"/>
    <arg name="do_mapir_rgb" default="false"/>
    <arg name="do_attollo" default="false" />
    <arg name="do_thermal_cam" default="false"/>

    <!-- Pointcloud and IMU topics based on whether we are simulating -->
    <arg name="cloud_topic_hw" default="/livox/lidar" if="$(eval lidar_type == 4)"/>
    <arg name="cloud_topic_hw" default="/velodyne_points" if="$(eval lidar_type == 2)"/>
    <arg name="cloud_topic_sim" default="/velodyne_points" if="$(arg simulate)"/>

    <arg name="cloud_topic" default="$(arg cloud_topic_hw)" unless="$(arg simulate)"/>
    <arg name="cloud_topic" default="$(arg cloud_topic_sim)" if="$(arg simulate)"/>

    <arg name="cloud_registered_topic" default="/cloud_registered"/>

    <arg name="imu_topic_hw" default="/livox/imu" if="$(eval lidar_type == 4)"/>
    <arg name="imu_topic_hw" default="/mavros/imu/data" if="$(eval lidar_type == 2)"/>
    <arg name="imu_topic_sim" default="/mavros/imu/data" if="$(arg simulate)"/>

    <arg name="imu_topic" default="$(arg imu_topic_hw)" unless="$(arg simulate)"/>
    <arg name="imu_topic" default="$(arg imu_topic_sim)" if="$(arg simulate)"/>

    <arg name="image_topic" default="/mapir_rgn/image_rect_color" unless="$(arg simulate)"/>
    <arg name="image_topic" default="/airsim_ros_node/$(arg vehicle_name)/front_left_custom/Scene" if="$(arg simulate)"/>
    <arg name="camera_info_topic" default="/mapir_rgn/camera_info" unless="$(arg simulate)"/>
    <arg name="camera_info_topic" default="/airsim_ros_node/$(arg vehicle_name)/front_left_custom/Scene/camera_info" if="$(arg simulate)"/>

     <!-- Recording args -->
    <arg name="configuration_directory" value="$(find vehicle_launch)/config/"/>
    <arg name="user" value="$(env USER)"/>
    <arg name="data_directory" default="/home/$(arg user)/src/bags/"/>
    <arg name="healthbeat_rate" default="1"/>

    <!-- Control args -->
    <arg name="default_alt" default="3.0"/> <!-- Must be between min/max or path planning fails -->
    <arg name="min_alt" default="1.0"/>
    <arg name="max_alt" default="5.0"/>
    <arg name="acceptance_radius" default="2.0"/>
    <arg name="obstacle_dist_threshold" default="2.0"/> <!-- Decco diam is ~1m, so this should mean 1.5m clear of obstacles--> 
    <arg name="flightleg_area_acres" default="15"/> <!-- 1 acre = 4046 m2-->
    <arg name="max_dist_to_polygon" default="100"/> <!-- meters permitted to reach polygon-->

    <!-- Exploration args -->
    <arg name="criteria" default="[DIST, INFO]"/> <!-- options="[DIST, INFO, EFFICIENCY, ASH]" -->
    <arg name="weights" default="[0.6, 0.4]"/> <!-- should add to 1, vector of weights for criteria-->
    <arg name="dem_name" default="ballard.tif"/>

    <!-- Generic args -->
    <arg name="map_resolution" default="0.1"/> <!-- meter -->
    <arg name="goal_topic" default="/goal_raw"/> <!-- meter -->


    <include file="$(find bag_recorder)/launch/default.launch">
        <arg name="configuration_directory" value="$(arg configuration_directory)"/>
        <arg name="data_directory" value="$(arg data_directory)"/>
        <arg name="heartbeat_interval" value="$(arg healthbeat_rate)"/>
    </include>

    <!-- <include file="$(find cpu_monitor)/launch/cpu_monitor.launch"/> -->

                                <!-- ROS nodes -->

    <!-- MAVROS -->
    <include file="$(find vehicle_launch)/launch/apm.launch" unless="$(arg offline)">
        <arg name="do_slam" value="$(arg do_slam)"/>
        <arg name="fcu_url" value="/dev/cubeorange:57600" unless="$(arg simulate)"/>
        <arg name="fcu_url" value="udp://127.0.0.1:14551@" if="$(arg simulate)"/>
    </include>

    <!-- Simulation -->
    <include file="$(find vehicle_launch)/launch/airsim.launch" if="$(arg simulate)">
        <arg name="enable_cameras" value="$(arg enable_cameras)"/>
        <arg name="vehicle_name" value="$(arg vehicle_name)"/>
    </include>

    <!-- Non-simulation only nodes -->
    <group unless="$(arg simulate)">
        <group unless="$(arg offline)">
            <include file="$(find vehicle_launch)/launch/sensors/velo16.launch" if="$(arg do_velodyne)"/>
            <include file="$(find vehicle_launch)/launch/sensors/mid360.launch" if="$(arg do_mid360)">
                <arg name="slam_type" value="$(arg slam_type)"/>
            </include>
            <include file="$(find vehicle_launch)/launch/sensors/mapir_rgn.launch" if="$(arg do_mapir)"/>
            <include file="$(find vehicle_launch)/launch/sensors/mapir_rgb.launch" if="$(arg do_mapir_rgb)"/>
            <include file="$(find vehicle_launch)/launch/sensors/attollo_swir.launch" if="$(arg do_attollo)"/>

            <group if="$(arg do_thermal_cam)">
                <include file="$(find vehicle_launch)/launch/sensors/thermal_cam.launch" if="$(eval thermal_type == 0)"/>
                <include file="$(find vehicle_launch)/launch/sensors/seek_cam.launch" if="$(eval thermal_type == 1)"/>
            </group>
            
            <include file="$(find bag_recorder)/launch/default.launch">
                <arg name="configuration_directory" value="$(arg configuration_directory)"/>
                <arg name="data_directory" value="$(arg data_directory)"/>
                <arg name="heartbeat_interval" value="$(arg healthbeat_rate)"/>
            </include>


            <!--                        RTSP Streams for each camera                 -->
            <group if="$(arg do_rtsp)">
                <node name="rtsp_stream_mapir" pkg="image_to_v4l2loopback" type="stream">
                    <param name="device" value="/dev/video21"/>
                    <param name="width" value="640"/>
                    <param name="height" value="480"/>
                    <param name="fourcc" value="YV12"/>
                    <remap from="image" to="/mapir_rgn/image_rect_color"/>
                </node>

                <node name="rtsp_stream_thermal" pkg="image_to_v4l2loopback" type="stream" if="$(arg do_thermal_cam)">
                    <param name="device" value="/dev/video22"/>
                    <param name="width" value="320"/>
                    <param name="height" value="240"/>
                    <param name="fourcc" value="YV12"/>
                    <remap from="image" to="/thermal_cam/image_raw" if="$(eval thermal_type == 0)" />
                    <remap from="image" to="/seek_thermal/image_raw" if="$(eval thermal_type == 1)" />
                </node>
            </group>
            
        </group>

        <group if="$(arg offline)">
            <param name="/use_sim_time" value="true"/>
            <include file="$(find vehicle_launch)/launch/viz_host_machine.launch"/>
        </group>

        <include file="$(find vehicle_launch)/launch/static_tf.launch">
            <arg name="do_mapir" value="$(arg do_mapir)"/>
            <arg name="do_mapir_rgb" value="$(arg do_mapir_rgb)"/>
            <arg name="do_attollo" value="$(arg do_attollo)" />
            <arg name="do_thermal_cam" value="$(arg do_thermal_cam)"/>
            <arg name="thermal_type" value="$(arg thermal_type)"/>
        </include>

    </group>

    <!-- Feature nodes -->
    <include file="$(find vehicle_launch)/launch/slam_switch.launch" if="$(arg do_slam)">
        <arg name="simulate" value="$(arg simulate)"/>
        <arg name="base_frame" value="$(arg slam_base_frame)"/>
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="slam_pose_topic" value="$(arg slam_pose_topic)"/>
        <arg name="gnss_topic" value="$(arg gnss_topic)"/>
        <arg name="use_gps" value="$(arg use_gps)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="imu_topic" value="$(arg imu_topic)"/>
        <arg name="slam_type" value="$(arg slam_type)"/>
        <arg name="rviz" value="$(arg simulate)"/>
        <arg name="min_alt" value="$(arg min_alt)"/>
        <arg name="max_alt" value="$(arg max_alt)"/>
        <arg name="obstacle_dist_threshold" value="$(arg obstacle_dist_threshold)"/>
    </include>

    <include file="$(find path_manager)/launch/path_manager.launch" if="$(arg do_slam)">
        <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="acceptance_radius" value="$(arg acceptance_radius)"/>
        <arg name="cloud_topic" value="$(arg cloud_topic)"/>
        <arg name="obstacle_dist_threshold" value="$(arg obstacle_dist_threshold)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
    </include>

    <include file="$(find explore_uav)/launch/explore.launch" if="false">
        <arg name="map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="robot_base_frame" value="$(arg mavros_base_frame)"/>
        <arg name="slam_pose_topic" value="$(arg slam_pose_topic)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
        <arg name="default_alt" value="$(arg default_alt)"/>
        <arg name="map_resolution" value="$(arg map_resolution)"/>
        <arg name="criteria" value="$(arg criteria)"/>
        <arg name="weights" value="$(arg weights)"/>
        <arg name="dem_name" value="$(arg dem_name)"/>
    </include>

    <include file="$(find vehicle_launch)/launch/costmap.launch" if="$(arg do_costmap)">
        <arg name="map_resolution" value="$(arg map_resolution)"/>
    </include>

    <include file="$(find image_segment_yolo)/launch/image_segment.launch" if="$(arg do_species_map)">
        <arg name="image_topic" value="$(arg image_topic)"/>
        <arg name="use_cvshow" value="$(arg simulate)"/>
    </include>

    <include file="$(find task_manager)/launch/task_manager.launch">
        <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="base_frame" value="$(arg mavros_base_frame)"/>
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="enable_autonomy" value="$(arg enable_autonomy)"/>
        <arg name="use_failsafes" value="$(arg use_failsafes)"/>
        <arg name="slam_pose_topic" value="$(arg slam_pose_topic)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
        <arg name="do_slam" value="$(arg do_slam)"/>
        <arg name="costmap_topic" value="/costmap_node/costmap/costmap_updates"/>
        <arg name="lidar_topic" value="$(arg cloud_topic)"/>
        <arg name="mapir_topic" value="$(arg image_topic)"/>
        <arg name="do_record" value="$(arg do_record)"/>
        <arg name="data_directory" value="$(arg data_directory)"/>
        <arg name="default_alt" value="$(arg default_alt)"/>
        <arg name="min_alt" value="$(arg min_alt)"/>
        <arg name="max_alt" value="$(arg max_alt)"/>
        <arg name="flightleg_area_acres" value="$(arg flightleg_area_acres)"/>
        <arg name="max_dist_to_polygon" value="$(arg max_dist_to_polygon)"/>
        <arg name="simulate" value="$(arg simulate)"/>
        <arg name="offline" value="$(arg offline)"/>
        <arg name="save_pcd" value="$(arg save_pcd)"/>
        <arg name="do_mapir" value="$(arg do_mapir)"/>
        <arg name="do_mapir_rgb" value="$(arg do_mapir_rgb)"/>
        <arg name="do_attollo" value="$(arg do_attollo)"/>
        <arg name="do_thermal_cam" value="$(arg do_thermal_cam)"/>
        <arg name="thermal_type" value="$(arg thermal_type)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="lidar_pitch" value="$(arg lidar_pitch)"/>
        <arg name="lidar_x" value="$(arg lidar_x)"/>
        <arg name="lidar_z" value="$(arg lidar_z)"/>
    </include>

</launch>