<launch>



                            <!-- Arguments/configuration -->

    <!-- Basic frame/topic names -->
    <arg name="mavros_map_frame" default="map"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="slam_map_frame" default="slam_map"/>
    <arg name="slam_pose_topic" default="/decco/pose"/>    

    <!-- Offline, i.e. using bag playback -->
    <arg name="offline" default="false"/>

    <!-- Simulation args -->
    <arg name="simulate" default="false"/>
    <arg name="vehicle_name" default="MyVehicle"/> <!-- The vehicle name from ardupilot_settings.json -->
    <arg name="enable_cameras" default="false"/>

    <!-- Safe guards -->
    <arg name="enable_autonomy" default="$(arg simulate)" unless="$(arg offline)"/>
    <arg name="enable_autonomy" default="false" if="$(arg offline)"/>
    <arg name="enable_exploration" default="$(arg simulate)" unless="$(arg offline)"/>
    <arg name="enable_exploration" default="true" if="$(arg offline)"/>

    <!-- Which SLAM
        0: FAST LIO (original 'slam' repo)
        1: FAST LIO LC
        2: FASTER LIO

        Defaults to 'fast lio'
    -->
    <arg name="slam_type" default="0"/>

    <!-- Which lidar
        0: Mid40
        1: Horizon
        2: Velodyne
        3: Oust64
        4: Mid360

        Defaults to 'velodyne' in sim and 'mid360' otherwise
    -->
    <arg name="lidar_type" default="2" if="$(arg simulate)"/>
    <arg name="lidar_type" default="4" unless="$(arg simulate)"/>

    <!-- Which nodes -->
    <arg name="do_slam" default="true"/>
    <arg name="do_exploration" default="true"/>
    <arg name="do_rangedata_oa" default="true"/>
    <arg name="do_vegetation" default="true"/>
    <arg name="do_species_map" default="false"/> <!-- TODO revise to do image seg live, but not species map-->
    <arg name="do_record" default="true" unless="$(eval simulate + offline)"/>
    <arg name="do_record" default="false" if="$(eval simulate + offline)"/>

    <!-- Which hardware -->
    <arg name="do_mid360" default="$(eval lidar_type == 4)"/>
    <arg name="do_velodyne" default="$(eval lidar_type == 2)"/>
    <arg name="do_mapir" default="true"/>
    <arg name="do_attollo" default="false"/>

    <!-- Pointcloud and IMU topics based on whether we are simulating -->
    <arg name="cloud_topic_hw" default="/livox/lidar" if="$(eval lidar_type == 4)"/>
    <arg name="cloud_topic_hw" default="/velodyne_points" if="$(eval lidar_type == 2)"/>
    <arg name="cloud_topic_sim" default="/velodyne_points" if="$(arg simulate)"/>

    <arg name="cloud_topic" default="$(arg cloud_topic_hw)" unless="$(arg simulate)"/>
    <arg name="cloud_topic" default="$(arg cloud_topic_sim)" if="$(arg simulate)"/>

    <arg name="cloud_registered_topic" default="/cloud_registered"/>

    <arg name="imu_topic_hw" default="/livox/imu" if="$(eval lidar_type == 4)"/>
    <arg name="imu_topic_hw" default="/mavros/imu/data" if="$(eval lidar_type == 2)"/>
    <arg name="imu_topic_sim" default="/mavros/imu/data" if="$(arg simulate)"/>

    <arg name="imu_topic" default="$(arg imu_topic_hw)" unless="$(arg simulate)"/>
    <arg name="imu_topic" default="$(arg imu_topic_sim)" if="$(arg simulate)"/>

    <arg name="image_topic" default="/mapir_rgn/image_rect" unless="$(arg simulate)"/>
    <arg name="image_topic" default="/airsim_ros_node/$(arg vehicle_name)/front_left_custom/Scene" if="$(arg simulate)"/>
    <arg name="camera_info_topic" default="/mapir_rgn/camera_info" unless="$(arg simulate)"/>
    <arg name="camera_info_topic" default="/airsim_ros_node/$(arg vehicle_name)/front_left_custom/Scene/camera_info" if="$(arg simulate)"/>

     <!-- Recording args -->
    <arg name="configuration_directory" value="$(find vehicle_launch)/config/"/>
    <arg name="user" value="$(env USER)"/>
    <arg name="data_directory" default="/home/$(arg user)/src/bags/"/>
    <arg name="healthbeat_rate" default="1"/>

    <!-- Control args -->
    <arg name="default_alt" default="3.0"/> <!-- Must be between min/max or path planning fails -->
    <arg name="min_alt" default="1.0"/>
    <arg name="max_alt" default="5.0"/>
    <arg name="acceptance_radius" default="2.0"/>
    <arg name="obstacle_dist_threshold" default="2.0"/> <!-- Decco diam is ~1m, so this should mean 1.5m clear of obstacles--> 
    <arg name="flightleg_area_m2" default="2023"/> <!-- 1 acre = 4046 m2-->

    <!-- Exploration args -->
    <arg name="criteria" default="[DIST, ASH, INFO]"/> <!-- options="[DIST, INFO, EFFICIENCY, ASH]" -->
    <arg name="weights" default="[0.2, 0.8, 0.2]"/> <!-- should add to 1, vector of weights for criteria-->
    <arg name="dem_name" default="ballard.tif"/>

    <!-- Generic args -->
    <arg name="map_resolution" default="1.0"/> <!-- meter -->
    <arg name="goal_topic" default="/goal"/>




                                <!-- ROS nodes -->

    <!-- MAVROS -->
    <include file="$(find vehicle_launch)/launch/apm.launch" unless="$(arg offline)">
        <arg name="do_slam" value="$(arg do_slam)"/>
        <arg name="fcu_url" value="/dev/ttyACM0:57600" unless="$(arg simulate)"/>
        <arg name="fcu_url" value="udp://127.0.0.1:14551@" if="$(arg simulate)"/>
    </include>

    <!-- Simulation -->
    <include file="$(find vehicle_launch)/launch/airsim.launch" if="$(arg simulate)">
        <arg name="enable_cameras" value="$(arg enable_cameras)"/>
        <arg name="vehicle_name" value="$(arg vehicle_name)"/>
    </include>

    <!-- Non-simulation only nodes -->
    <group unless="$(arg simulate)">
        <group unless="$(arg offline)">
            <include file="$(find vehicle_launch)/launch/velo16.launch" if="$(arg do_velodyne)"/>
            <include file="$(find vehicle_launch)/launch/mid360.launch" if="$(arg do_mid360)">
                <arg name="slam_type" value="$(arg slam_type)"/>
            </include>
            <include file="$(find vehicle_launch)/launch/mapir_rgn.launch" if="$(arg do_mapir)"/>

            <include file="$(find bag_recorder)/launch/default.launch">
                <arg name="configuration_directory" value="$(arg configuration_directory)"/>
                <arg name="data_directory" value="$(arg data_directory)"/>
                <arg name="heartbeat_interval" value="$(arg healthbeat_rate)"/>
            </include>
        </group>

        <include file="$(find vehicle_launch)/launch/vegetation.launch" if="$(arg offline)">
            <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
            <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
            <arg name="pointcloud_topic" value="$(arg cloud_registered_topic)"/>
            <arg name="run_multispectral_viz" value="false"/>
            <arg name="run_rgb_viz" value="false"/>
            <arg name="use_mapir" value="$(arg do_mapir)"/>
            <arg name="use_attollo" value="$(arg do_attollo)"/>
            <arg name="map_resolution" value="$(arg map_resolution)"/>
        </include>
    </group>

    <!-- Feature nodes -->
    <include file="$(find vehicle_launch)/launch/slam_switch.launch" if="$(arg do_slam)">
        <arg name="simulate" value="$(arg simulate)"/>
        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="slam_pose_topic" value="$(arg slam_pose_topic)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="imu_topic" value="$(arg imu_topic)"/>
        <arg name="slam_type" value="$(arg slam_type)"/>
        <arg name="rviz" value="$(arg simulate)"/>
        <arg name="min_alt" value="$(arg min_alt)"/>
        <arg name="max_alt" value="$(arg max_alt)"/>
        <arg name="obstacle_dist_threshold" value="$(arg obstacle_dist_threshold)"/>
    </include>

    <include file="$(find path_to_mavros)/launch/path_to_mavros.launch" if="$(arg do_slam)">
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="acceptance_radius" value="$(arg acceptance_radius)"/>
    </include>

    <include file="$(find range_data_to_mavros)/launch/range_data_to_mavros.launch" if="$(arg do_rangedata_oa)">
        <arg name="point_cloud_topic" value="$(arg cloud_topic)"/>
        <arg name="data_type" value="point_cloud"/>
    </include>

    <include file="$(find explore_uav)/launch/explore.launch" if="$(arg do_exploration)">
        <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="robot_base_frame" value="$(arg base_frame)"/>
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="slam_pose_topic" value="$(arg slam_pose_topic)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
        <arg name="cloud_in" value="$(arg cloud_registered_topic)"/>
        <arg name="default_alt" value="$(arg default_alt)"/>
        <arg name="map_resolution" value="$(arg map_resolution)"/>
        <arg name="criteria" value="$(arg criteria)"/>
        <arg name="weights" value="$(arg weights)"/>
        <arg name="dem_name" value="$(arg dem_name)"/>
    </include>

    <include file="$(find vehicle_launch)/launch/costmap.launch"/>

    <include file="$(find monarch)/launch/monarch.launch">
        <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="enable_autonomy" value="$(arg enable_autonomy)"/>
        <arg name="enable_exploration" value="$(arg enable_exploration)"/>
        <arg name="default_altitude_m" value="$(arg default_alt)"/>
    </include>

    <include file="$(find image_segment_yolo)/launch/image_segment.launch" if="$(arg do_species_map)">
        <arg name="image_topic" value="$(arg image_topic)"/>
        <arg name="use_cvshow" value="$(arg simulate)"/>
    </include>

    <include file="$(find task_manager_88)/launch/task_manager.launch">
        <arg name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
        <arg name="slam_pose_topic" value="$(arg slam_pose_topic)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
        <arg name="costmap_topic" value="/costmap_node/costmap/costmap_updates"/>
        <arg name="lidar_topic" value="$(arg cloud_registered_topic)"/>
        <arg name="mapir_topic" value="$(arg image_topic)"/>
        <arg name="do_record" value="$(arg do_record)"/>
        <arg name="default_altitude_m" value="$(arg default_alt)"/>
        <arg name="simulate" value="$(arg simulate)"/>
    </include>

    <group if="$(arg offline)">
        <param name="/use_sim_time" value="true"/>
        <include file="$(find vehicle_launch)/launch/viz_host_machine.launch"/>
        <node name="mid360_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.1 0 0 0 base_link livox_frame 100"/>

        <include file="$(find image_segment_yolo)/launch/species_map.launch" if="$(arg do_species_map)">
            <arg name="slam_map_frame" value="$(arg slam_map_frame)"/>
            <arg name="image_topic" value="$(arg image_topic)"/>
            <arg name="camera_info_topic" value="$(arg camera_info_topic)"/>
            <arg name="pointcloud_topic" value="$(arg cloud_registered_topic)"/>
            <arg name="use_cvshow" value="$(arg simulate)"/>
        </include>
    </group>

</launch>