<launch>
    <include file="$(find mavros)/launch/apm.launch"/>

    <node pkg="rosservice" type="rosservice" name="rosservice" args="call --wait /mavros/set_stream_rate 0 10 1"/>

    <arg name="swir_topic" default="/attollo_cam/image_raw"/>
    <arg name="swir_info_topic" default="/attollo_cam/camera_info"/>

    <!-- Intel realsense -->
    <!-- <arg name="rgb_topic" default="/camera/color/image_raw"/>
    <arg name="rgb_info_topic" default="/camera/color/camera_info"/>
    <arg name="depth_topic" default="/camera/depth/image_rect_raw"/>
    <arg name="depth_camerainfo_topic" default="/camera/depth/camera_info"/> -->

    <!-- ZED2i -->
    <arg name="rgb_topic" default="/zed2i/zed_node/left/image_rect_color"/>
    <arg name="rgb_info_topic" default="/zed2i/zed_node/left/camera_info"/>
    <arg name="depth_topic" default="/zed2i/zed_node/depth/depth_registered"/>
    <arg name="depth_camerainfo_topic" default="/zed2i/zed_node/depth/camera_info"/>
    
    <include file="$(find vehicle_launch)/launch/zed_rtabmap.launch"/>

    <arg name="use_mapir" default="true"/>
    <arg name="use_attollo" default="false"/>

    <group if="$(arg use_mapir)">
        <include file="$(find vehicle_launch)/launch/mapir_rgn.launch"/>
        <include file="$(find vehicle_launch)/launch/static_tf.launch"/>
    </group>
    <include file="$(find vehicle_launch)/launch/attollo_swir.launch" if="$(arg use_attollo)"/>

    <include file="$(find vegetation)/launch/vegetation.launch">
        <arg name="run_multispectral_viz" value="false"/>
        <arg name="run_rgb_viz" value="false"/>
        <arg name="use_mapir" value="$(arg use_mapir)"/>
        <arg name="use_attollo" value="$(arg use_attollo)"/>
        <arg name="swir_topic" value="$(arg swir_topic)"/>
        <arg name="swir_info_topic" value="$(arg swir_info_topic)"/>
        <arg name="rgb_topic" value="$(arg rgb_topic)"/>
        <arg name="rgb_info_topic" value="$(arg rgb_info_topic)"/>
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="depth_camerainfo_topic" value="$(arg depth_camerainfo_topic)"/>
    </include>

    <include file="$(find explore_uav)/launch/explore.launch"/>
    <include file="$(find monarch)/launch/monarch.launch"/>

    <arg name="depth_image" default="zed2i/zed_node/depth/depth_registered"/>
    <arg name="depth_info" default="zed2i/zed_node/depth/camera_info"/>
    <node pkg="depth_image_to_mavlink" type="depth_image_to_mavlink_node" respawn="false" name="depth_image_to_mavlink" output="screen">
        <param name="depth_image" value="$(arg depth_image)"/>
        <param name="depth_info" value="$(arg depth_info)"/>
    </node>

</launch>