<launch>
    <include file="$(find mavros)/launch/apm.launch"/>

    <node pkg="rosservice" type="rosservice" name="rosservice" args="call --wait /mavros/set_stream_rate 0 10 1"/>
    
    <include file="$(find vehicle_launch)/launch/zed_rtabmap.launch"/>

    <arg name="use_mapir" default="true"/>
    <arg name="use_attollo" default="false"/>
    <include file="$(find vegetation)/launch/vegetation.launch">
        <arg name="run_multispectral_viz" value="false"/>
        <arg name="run_rgb_viz" value="false"/>
        <arg name="use_mapir" value="$(arg use_mapir)"/>
        <arg name="use_attollo" value="$(arg use_attollo)"/>
    </include>

    <include file="$(find explore_uav)/launch/explore.launch"/>
    <include file="$(find monarch)/launch/monarch.launch"/>

    <arg name="depth_image" default="zed2i/zed_node/depth/depth_registered"/>
    <arg name="depth_info" default="zed2i/zed_node/depth/camera_info"/>
    <node pkg="depth_image_to_mavlink" type="depth_image_to_mavlink_node" respawn="false" name="depth_image_to_mavlink" output="screen">
        <param name="depth_image" value="$(arg depth_image)"/>
        <param name="depth_info" value="$(arg depth_info)"/>
    </node>

</launch>