<launch>
    <arg name="record_prefix" default="/home/nanodrone/dev/bags/all_io" />
    
    <node name="rosbag_record" pkg="rosbag" type="record"
        args="record -o $(arg record_prefix) --split --duration=60
            /actual_path
            /attollo_cam/image_raw
            /attollo_cam/camera_info
            /cloud_registered
            /explore/frontiers
            /goal
            /heatmap_json
            /kd_pointcloud_accumulated
            /mapir_rgn/image_raw
            /mapir_rgn/camera_info
            /mavpersation/emergency
            /mapversation/target_polygon
            /mapversation/target_setpoint
            /mavros/battery
            /mavros/global_position/global
            /mavros/imu/data
            /mavros/local_position/pose
            /mavros/obstacle/send
            /mavros/odometry/out
            /mavros/setpoint_position/local
            /mavros/state
            /octomap_full
            /octomap_slice
            /path
            /search_node/trajectory_position
            /tf
            /tf_static
            /velodyne_points
            /zed2i/map
            /zed2i/zed_node/depth/camera_info
            /zed2i/zed_node/depth/depth_registered
            /zed2i/zed_node/left/camera_info
            /zed2i/zed_node/left/image_rect_color
            /gci
            /gli
            /gli_heatmap
            /ndmi
            /ndvi
            /ndwi
            /rci
            "
    />

</launch>