<launch>
    <arg name="record_prefix" default="/home/nanodrone/dev/bags/inputs_only" />
    
    <node name="rosbag_record" pkg="rosbag" type="record"
        args="record -o $(arg record_prefix) --split --duration=60
            /attollo_cam/image_raw
            /attollo_cam/camera_info
            /heatmap_json
            /kd_pointcloud_accumulated
            /mapir_rgn/image_raw
            /mapir_rgn/image_rect
            /mapir_rgn/camera_info
            /mavpersation/emergency
            /mapversation/target_polygon
            /mapversation/target_setpoint
            /mavros/global_position/global
            /mavros/local_position/pose
            /mavros/obstacle/send
            /octomap_slice
            /tf
            /tf_static
            /velodyne_points
            /zed2i/map
            /zed2i/zed_node/depth/camera_info
            /zed2i/zed_node/depth/depth_registered
            /zed2i/zed_node/left/camera_info
            /zed2i/zed_node/left/image_rect_color
            "
    />

</launch>