<launch>
    <!-- TODO update with calibration outputs and update frame handling so the SLAM map is centered at the IMU coordinates of the Livox Mid360 -->

    <arg name="do_mid360" default="true"/>
    <arg name="do_mapir" default="true"/>
    <arg name="do_mapir_rgb" default="false"/>
    <arg name="do_attollo" default="true"/>
    <arg name="do_thermal_cam" default="false"/>
    <arg name="thermal_type" default="0"/>

    <group if="$(eval do_mapir + do_mapir_rgb)">
        <arg name="mapir_name" value="mapir_rgn_cam" if="$(arg do_mapir)"/>
        <arg name="mapir_name" value="mapir_rgb_cam" if="$(arg do_mapir_rgb)"/>

        <node name="mapir_static_tf" pkg="tf" type="static_transform_publisher" args="0.09 0.0175 -0.0175 0 0 0 livox_frame $(arg mapir_name) 100"/>
        <node name="mapir_optical_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.57079633 0 -1.57079633 $(arg mapir_name) mapir_optical 100"/>
    </group>

    <group if="$(arg do_attollo)">
        <node name="attollo_static_tf" pkg="tf" type="static_transform_publisher" args="0.135 -0.045 -0.01 0 0 0 livox_frame attollo_cam 100"/>
        <node name="attollo_optical_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.57079633 0 -1.57079633 attollo_cam attollo_optical 100"/>
    </group>

    <group if="$(arg do_thermal_cam)">
        <!-- Infiray-->
        <group if="$(eval thermal_type == 0)">
            <node name="thermal_static_tf" pkg="tf" type="static_transform_publisher" args="0.75 -0.045 -0.01 0 0 0 livox_frame thermal_cam 100"/>
            <node name="thermal_optical_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.57079633 0 -1.57079633 thermal_cam thermal_optical 100"/>
        </group>

        <!-- Seek-->
        <group if="$(eval thermal_type == 1)">
            <node name="thermal_static_tf" pkg="tf" type="static_transform_publisher" args="0.127 0.01905 0 0 0 0 livox_frame thermal_cam 100"/>
            <node name="thermal_optical_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.57079633 0 -1.57079633 thermal_cam thermal_optical 100"/>
        </group>
    </group>

    <group if="$(arg do_mid360)">
        <node name="mid360_static_tf" pkg="tf" type="static_transform_publisher" args="0.011 0.02329 -0.04412 0 0 0 livox_frame base_link 100"/>
    </group>

</launch>