<launch>
    <node name="mapir_static_tf" pkg="tf" type="static_transform_publisher" args="0.1016 -0.0127 0 0 0 0 base_link mapir_cam 100"/>
    <node name="mapir_optical_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.57079633 0 -1.57079633 mapir_cam mapir_cam_optical 100"/>
</launch>