<launch>
    <arg name="device_ip" default="192.168.1.201"/>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="device_ip" value="$(arg device_ip)"/>
    </include>

    <node name="velodyne_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 .1 0 0 0 base_link velodyne 100"/>
</launch>