<launch>
    <node type="rviz" name="multispec_rviz" pkg="rviz" args="-d $(find vegetation)/config/ndwi.rviz" />
    <node type="rviz" name="zed_rviz" pkg="rviz" args="-d $(find vegetation)/config/zedrgb.rviz" />
    <node type="rviz" name="lidar_rviz" pkg="rviz" args="-d $(find vehicle_launch)/config/lidar.rviz" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>