<launch>
    <arg name="make_video" default="false"/>
    <!-- <node type="rviz" name="multispec_rviz" pkg="rviz" args="-d $(find vegetation)/config/ndwi.rviz" /> -->
    <!-- <node type="rviz" name="zed_rviz" pkg="rviz" args="-d $(find vegetation)/config/zedrgb.rviz" /> -->
    <node exec="rviz2" name="lidar_rviz" pkg="rviz2" args="-d $(find-pkg-share vehicle_launch)/config/lidar.rviz" unless="$(var make_video)" />
    <node exec="rviz2" name="lidar_rviz" pkg="rviz2" args="-d $(find-pkg-share vehicle_launch)/config/makevideo.rviz" if="$(var make_video)" />
    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> -->

</launch>